body{
    background-color: rgb(58, 58, 58);
}

/*Divs*/
#container__main{
    display: block;
    padding: 5px;
    margin:10px;
    background-color: #afafaf;
}
#container__shadowButtons{
    background-color: purple;
    width: 85px;
    height: 65px;
    padding: 3px;
    align-content: center;
    border-radius: 20px;
}

#itFollows{
    display:none;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: aquamarine;
    border: 2px solid black;
    opacity: 0.5;
}

/*Botones*/
#itFollowsShowShadow{
    width: 75px;
    height: 55px;
    margin: 5px;
    padding: 2px;
    border-radius: 20px;
    background-color: orange;
}
#itFollowsShowShadow:hover{
    cursor:pointer;
}
#itFollowsHideShadow{
    display: none;
    width: 75px;
    height: 55px;
    margin: 5px;
    padding: 2px;
    border-radius: 20px;
    background-color: greenyellow;
}
#itFollowsHideShadow:hover{
    cursor:pointer;
}